.container {
  box-sizing: border-box;
  padding: 0 6rem;
  @media screen and(max-width: 48rem) {
    padding: 1.5rem;
  }

  .box {
    display: flex;
    align-items: center;
    height: 5.5rem;
    @media screen and (max-width: 48rem) {
      align-items: flex-start;
    }
    .button {
      margin-left: auto;
      width: 100%;
      @media screen and (max-width: 48rem) {
        display: flex;
        justify-content: center;
      }
    }
  }

  .header__logo {
    @media screen and (max-width: 48rem) {
      width: 84px;
    }
  }
  .menu {
    @media screen and (max-width: 48rem) {
      padding-top: 3rem;
      position: absolute;
      width: 100%;
      left: -100%;
      transition: left 10ms;
      background: white;
      margin-top: 23rem;
    }
    &.show {
      left: 0;
      background: white;
      position: absolute;
      z-index: 20;
      @media screen and (max-width: 48rem) {
      }
    }
  }
  .menu__list {
    list-style: lower-alpha;
    display: flex;
    padding-inline-start: 1.125rem;
    @media screen and (max-width: 48rem) {
      display: block;
    }
  }
  .menu__item {
    list-style: none;
    padding: 1rem 1rem 1.8rem;
    z-index: 10;
    position: relative;

    @media screen and (max-width: 48rem) {
      border-bottom: 1px solid #cdcdd4;
      margin-bottom: 0;
      padding: 1rem 1rem;
      &::after {
        content: "+";
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 2rem;
        transition: transform 0.1s ease-in-out;
        transition-delay: 200ms;
      }
      & + .menu__submenu {
        opacity: 0;
      }

      &.menu__item--active {
        position: absolute;
        &::after {
          transform: rotate(45deg);
        }
        & + .menu__submenu {
          opacity: 1;
          position: relative;
          display: block;
          background: white;
          margin-top: 40rem;
          .menu__submenu-container {
            display: flex;
            flex-wrap: wrap;
            margin-top: 2rem;
            padding: 1.5rem;
            .submenu__container--single {
              width: 100%;
            }
            .submenu__content {
              &:hover {
                box-shadow: none;
              }
              .submenu__icon {
                margin-top: 0.8rem;
              }
              .submenu__hdl {
                display: inline;
                margin-left: 0rem;
                &:hover {
                  box-sizing: border-box;
                  border-bottom: 2px solid black;
                }
              }
            }
          }

          .submenu__content {
            width: 100%;
          }
          .submenu__button-close {
            display: none;
          }
        }
      }
    }

    &:hover {
      border-bottom: 1px solid black;
      & + .menu__submenu {
        display: block;
      }
    }
  }

  .menu__submenu {
    display: none;
    position: absolute;
    margin-top: 4.0025rem;
    z-index: 1;
    width: 100%;
    border-top: 1px solid #ededf0;
    box-shadow: 0 16px 16px -16px rgba(0, 0, 0, 0.3);
    left: 0;
    &:hover {
      display: block;
      background-color: #fff;
    }
  }
  .menu__submenu-container {
    box-sizing: border-box;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1.875rem 6rem;
    .submenu__button-close {
      display: block;
      border: none;
      background: transparent;
      cursor: pointer;
      height: 1rem;
      padding: 0;
      width: 1rem;
    }
    .submenu__container--left {
      width: calc((100%-19.375rem) / 2);
    }
    .submenu__container--right {
      width: calc((100%-19.375rem) / 2);
    }
    .submenu__container--img {
      max-width: 19.375rem;
      @media screen and (max-width: 48rem) {
        display: none;
      }
    }
  }

  .submenu__content {
    padding: 0.25rem;
    margin: 0.25rem;
    @include font;
    &:hover {
      transition: box-shadow 0.1s ease-in-out;
      box-shadow: 0 0 0 4px #ededf0;
      border-radius: 2px;
    }
    .submenu__big-img {
      width: 18.75rem;
      height: auto;
    }
    .submenu__icon {
      height: 1.5rem;
      margin: 0;
      width: 1.5rem;
      float: left;

      margin-top: 1.5rem;
      padding-right: 0.5rem;
    }
    .submenu__hdl {
      margin-left: 1.625rem;
    }
    .submenu__text {
      margin-left: 1.625rem;
    }
  }
  .submenu__list {
    padding: 0;
    list-style-type: none;
    margin-left: 1.625rem;
    .submenu__item {
      .submenu__link {
        text-decoration: none;
        color: #000;
        &:hover {
          border-bottom: 1px solid black;
        }
      }
    }
  }

  .menu__link {
    @include fontBold;
    text-decoration: none;
    margin-bottom: 0;
    color: #000;
    @media screen and (max-width: 48rem) {
      padding: 8px 0;
    }
  }
}
