.box {
  display: flex;
  justify-content: space-around;
}

.info {
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
  &:nth-child(1) {
    .info__title {
      &::before {
        background-position: top center;
      }
    }
  }
  &:nth-child(2) {
    .info__title {
      &::before {
        background-position: center center;
      }
    }
  }
  &:nth-child(3) {
    .info__title {
      &::before {
        background-position: bottom center;
      }
    }
  }
  &__title {
    @include fontBilboardHdl;
    font-size: 2rem;
    margin-bottom: 32px;
    color: #0060df;
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 100px;
      display: block;
      background-image: url("./../img/externals-sprite.png");
      background-repeat: no-repeat;
      background-size: 100px 300px;
      background-position: top center;
    }
    &:hover {
      color: #b833e1;
    }
  }
  &__text {
    @include font;
  }
}
@media (max-width: 780px) {
  .box {
    flex-direction: column;
    .info {
      max-width: 100%;
    }
  }
}
