body {
  width: 100vw;
  overflow-x: hidden;
}
.main-content {
  display: flex;
  padding-bottom: 1.5rem;
  position: relative;
  box-sizing: border-box;
  zoom: 1;
  margin: 0 auto;
  max-width: 88.75rem;
  min-width: 19rem;
  padding: 1.5rem 6rem;
  flex-wrap: wrap;
  .main-content-primary {
    display: flex;
    width: 100%;
    padding: 48px 0;
    .main-content-left {
      display: block;
      font-size: 0.75rem;
      margin: 0 auto;
      max-width: 30.625rem;
      width: 100%;
      @media screen and (max-width: 48rem) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
      }
      .logo-world {
        align-self: center;
        width: 7.8125rem;
        height: auto;
      }
      .main-content-left__hdl {
        @include font;
        font-size: 3rem;
        font-weight: 700;
        display: block;
        padding: 0;
        line-height: 52.8px;
        @media screen and (max-width: 48rem) {
          // display: inline-block;
        }
      }
      .main-content-left__text {
        @include font;
        font-size: 1rem;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
      .main-content-left__button {
        margin: 0 0 24px;
        align-self: center;
        @media screen and (max-width: 48rem) {
          display: inline-block;
        }
      }
      .main-content-left__link {
        @include font;
        font-size: 0.75rem;
        line-height: 1.5;
        text-decoration: none;
        text-align: center;
        margin: 16px 0 0;
        color: black;
      }
    }
    .main-content-right {
      display: block;
      width: 100%;
      @media screen and (max-width: 48rem) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .main-content-right__img {
        width: 41.4375rem;
        margin-right: 0;
        position: absolute;
        @media screen and (max-width: 48rem) {
          position: relative;
        }
      }
    }
  }
}
@media (max-width: 780px) {
  body {
    max-width: 780px;
  }
  .main-content-primary {
    flex-direction: column;
    justify-content: center;
    .main-content-left {
      justify-content: center;
      text-align: center;
    }
    .main-content-right {
    }
  }
}
