.main-content-column {
  .column-container {
    display: flex;
    .column-left {
      border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
    .column-right {
    }
  }
}
.column {
  float: left;
  padding: 0 3rem;
  width: 50%;
  @media screen and (max-width: 48rem) {
    padding: 1.5rem;
  }
  .column__hdl {
    @include fontBilboardHdl;
    font-size: 1.5rem;
  }
  .column__content {
    @include font;
    text-align: left;
  }
  .column__list {
    .column__item {
      .column__link {
        @include fontBold;
        color: #0060df;
        line-height: 1.5;
        &:visited {
          color: #b833e1;
        }
      }
    }
  }
}
@media (max-width: 48rem) {
  .main-content-column {
    max-width: 100%;
    padding: 0;
    .column-container {
      flex-direction: column;
      .column {
        width: 100%;
      }
      .column-left {
        border: none;
      }
    }
  }
}
