.main-content-left__button {
  @include font;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5;
  transition: background-color 0.1s, box-shadow 0.1s, color 0.1s, transform 0.1s;
  border-radius: 2px;
  border: 2px solid #000;
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 14px 30px;
  text-decoration: none !important;
  background-color: #0060df;
  border-color: transparent;
  color: #fff;
  height: 56px;
  width: 200.26px;
  &:hover {
    transform: none;
    background-color: #0250bb;
    box-shadow: none;
    color: #fff;
  }
}
