.header__button {
  background: red;
  display: block;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid;
  border-radius: 2px;
  border-color: #0060df;
  color: #0060df;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  float: right;
  transition: background-color 0.1s, box-shadow 0.1s, color 0.1s, transform 0.1s;
  @include font;
  font-weight: 700;
  height: 44px;
  width: 172.26px;

  &:hover {
    background-color: #0060df;
    border-color: transparent;
    color: #fff;
  }
}
